.login-page {
  margin: auto;
  padding: 8% 0 0;
  width: 320px;
  display: block;
}

.heading{
	font-family: impact;
	align-content: center;
	margin:auto;
	padding:8% 0 0;
	width: 320px;
}
