<!DOCTYPE html>
<html>
	<head>
		<title>Snapose</title>
	</head>
		<header>
			<div class="header-container">
				<h1 id="id1" class="title">Snapose</h1>
				<a href="/{{user}}">Upload Images</a>
			</div>
			<link rel="stylesheet" type="text/css" href="/static/css/style2.css">
		</header>
		<body>
			<div class='pages'>
				{% if pagination %}
					{{pagination.info}}
					{{pagination.links}}
				{% endif %}
			</div>
			<hr>
			{% if images %}
				{% for image in images %}
				<div class='img' style="border: 1px outset; padding: 10px; display: inline-block;">
				<h3 style="font-family: courier">
					{{image[1]}}
				</h3>
				<img src="/uploads/{{image[2]}}" style="width:200px;height:200px;">
				</div>
				{% endfor %}
			{% endif %}
			
			<hr>
			<div class= 'pages'>
				{% if pagination %}
					{{pagination.info}}
					{{pagination.links}}
				{% endif %}
			</div>			
			
		</body>
</html>
