<!DOCTYPE html>
<html>
	<head>
		<title>SnappingPanchod</title>
	</head>
	<body>
		<header>
			<div class="header-container">
				<h1 id="id1" class="title">Snapping Kanjars</h1>
			</div>
		</header>
		<main class="main-class">
			<div class="container1">
				<div class="section-content">
					<h2 class="heading2">You can upload as many fudu pictures here as you want</h2>
					<a href="">Upload</a>
				</div>
			</div>
			
			<div class="picture">
				<img src="C:\Users\Singh\Google Drive\NYU Poly Grad 2018\Spring2017Semester2\CSGY9163-ApplicationSecurity-KellyLum\App\static\img\kanjar.png">
			</div>
		</main>

	</body>
</html>
