<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>Snapose Log In</title>

		<link rel="stylesheet" type="text/css" href="static/css/style2.css">
	</head>
	<body>
		<main>
			<div class='heading'>
				<h1>SNAPOSE</h1>
			</div>
			<div class = 'login-page'>
				<form method="POST">
				<input type='text' placeholder='username' name="uname" /><br>
				<input type= 'text' placeholder='password' name="pswd" /><br><br>
				<button type="submit">Login</button>
				</form>
				<p class= 'message'>Not Registered?<a href="/register">Create an account</a></p>
			</div>		

			<div class = 'messages', style = 'min-height: 100% width: 80%'>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							{{ message }}
						{% endfor %}
					{% endif %}
				{% endwith %}
				
			</div>
			
		</main>

	</body>
</html>
